body{
    font-family: "Tw Cen MT", Tw, sans-serif;
    /* Margin bottom by footer height */
    margin-bottom: 30px;
    background-image: url("../images/bg.png");
    /* background-color: #eefddd; */
}

html {
  position: relative;
  min-height: 100vh;
}

.mint-banner{
    padding:5px;
    color: #fff;
    background-color: #9dbd7a;
    border-radius:10px;
}

.mint-btn{
    padding:10px;
    width:180px;
    font-size:18px;
    color: #fff;
    background-color: #9dbd7a;
    border: none;
}

.mint-btn:hover{
    background-color: #c7ed9d;
}

.mint-banner h1{
    margin-top:10px;
}

.table-result{
    width:80%;
}

.table-result thead, tbody, tr, td, th{
    display:block;
}

.table-result tr:after{
    content: ' ';
    display:block;
    visibility:hidden;
    clear:both;
}

.table-result thead th{
    height:auto;
}

.table-result tbody{
    height:240px;
    overflow-y:scroll;
}

.table-result thead th{
    width:16.35%;
    float:left;
}

.table-result tbody td{
    width:16.65%;
    float:left;
}

.table-reslist{

    min-height:120px;
    overflow: scroll;
}

.searchbar{
    width:80%;
}

.bigpic_sq{
    width:320px;
    height:320px;
    overflow: hidden;
    border-radius: 5px;
    border-color: #cce5af;
    border-style: solid;
    margin-left: 15px;
    margin-right: 15px;
}

.bigpic_img{
    width: 100%
}

.smallpic_sq{
}

.smallpic_img{
    width: 100%;
}

.vl{
    border-left: 1px solid #dae5ce;
    height:100%;
}
bt {
  font-size:8em;  
}

.content {
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    min-height: 100%;
}

.content-txt{
    font-size: 12pt;
}

.navbar-brand{
    margin-top: -30px;
}

.navbar-brand h1{
    color: #fff;
}

.navbar{
    background-color: #b9d39c;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background-color: #dcf1c5;
}

.navbar-default .navbar-nav>a:hover, .navbar-default .navbar-nav>a:focus{
    background-color: #dcf1c5;
}

.footer {
  position: fixed;
  bottom: 0;
  padding-top:5px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #000;
}
